{
  "client": {
    "name": "{{ sensu_client_name | default(ansible_hostname) }}",
    "address": "{{ sensu_client_ip | default(ansible_eth0['ipv4']['address']) | default('127.0.0.1') }}",
    "subscriptions": {{ ['common'] | union(group_names) | list | to_json }}
  }
}
