{
  "rabbitmq": {
    "host": "{{ sensu_rabbitmq.host }}",
    "port": {{ sensu_rabbitmq.port }},
    "vhost": "{{ sensu_rabbitmq.vhost }}",
    "user": "{{ sensu_rabbitmq.username }}",
    "password": "{{ sensu_rabbitmq.password }}"
  }
}
